body {
    background-image: url("../images/background.jpg");
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-fill-color: ghostwhite;
}
h1{
    
    font-family: "sheeping cats";
    font-stretch: condensed;
    background: rgb(248,255,69);
background: linear-gradient(90deg, rgba(248,255,69,1) 0%, rgba(255,169,70,1) 43%, rgba(254,61,27,1) 100%);
    
font-size: 72px;
  background: -webkit-linear-gradient(rgba(248,255,69,1) 0%,rgba(255,169,70,1) 43%,rgba(254,61,27,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 400%;
}

.container{
    padding-top: 10px; 
    padding:60px 400px;
    position: relative; 
    margin:0 auto;
    max-width:500px;
    
    
}
a{
    text-decoration: none;
    font-family:  'Comic Sans MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;         
}
#grad {
        background-color: rgba(255, 135, 79, 0.938);
        padding: 8px 16px;
        margin: auto;

        border-radius: 40px;
        height: 50%;
        width: 55%;
        align-content: center;
  }
.row{
    text-align: center;
    
}
input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
  }

  button{
      font-size: large;
      font-family: "sheeping cats", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius: 5px;
      background: rgb(248,255,69);
background: linear-gradient(90deg, rgba(248,255,69,1) 0%, rgba(255,169,70,1) 43%, rgba(254,61,27,1) 100%);
transition: background-color 200ms ease-in-out,
            box-shadow 100ms ease-out,
            
  }
  
  button:hover {
      box-shadow: 5px 5px 10px grey;
     cursor: pointer;
     background: rgb(248,255,69);
     background-color: linear-gradient(90deg, rgba(254,61,27,1) 0%,rgba(255,169,70,1) 43%,rgba(248,255,69,1) 100%);  

}
@media only screen and (min-width:280px)
{
h1{
    width: 100%;
    align-self: auto;
}

.container{
    padding-top: 20px; 
    padding:5% 5%;
    height: 40vh;
    width: 100%;
    position: relative; 
    margin:0 auto;
    max-width:500px;
    
}
#grad {
    background-color: rgba(255, 135, 79, 0.938);
    padding: 8px 16px;
    margin: auto;
    border-radius: 40px;
    height: auto;
    width: 65%;
}
}
/* @media only screen and (max-width: 768px)
{
    h1{
        width: 100%;
        align-self: auto;
    }
    
    .container{
        padding-top: 20px; 
        padding:5% 60%;
        height: 100vh;
        width: 100%;
        position: relative; 
        margin:0 auto;
        max-width:500px;
        
    }
} */