body {
	background-image: url(../images/background.jpg);
}
.content_stats {
	width: 1050px;
	height: 650px;
	position: absolute;
	top: 50px;
	left: 250px;
}
.grassOverlay {
	width: 1000px;
	height: 600px;
	background-color: #54A0D6;
	opacity: 0.5;
}
.statTable {
	color: white;
	font-size: 25px;
	position: relative;
	top: -500px;
	left: 600px;
}