body {
	background-image: url(../images/background.jpg);
}
.content_stats {
	width: 60%;
	height: 50%;
	position: absolute;
	top: 10%;
	left: 18%;
}
.grassOverlay {
	width: 100%;
	height: 130%;
	background-color: #54A0D6;
	opacity: 0.8;

}
.statTable {
	width: 200px;
	color: white;
	font-size: 25px;
	position: relative;
	top: -100%; 
	left: 68%;
}
@media only screen and (max-width: 768px)
{
	body {
	background-image: url(../images/background.jpg);
}
.content_stats {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 10%;
	left: 0%;
}
.grassOverlay {
	width: 120%;
	height: 230%;
	background-color: #54A0D6;
	opacity: 0.8;
	overflow: hidden;
}
.statTable {
	color: white;
	font-size: 25px;
	position: absolute;
	top: 150%;
	left: 25%;

}
.charts {
	position: absolute;
	width: 200%;
	height: 90%;
}
}